body {
    background: lightgrey;
}

canvas {
    background: black;
    width: 80vmin;
    height: 80vmin;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

p {
    margin-left: 1rem;
    text-decoration: underline;
}

label {
    margin-top: 0.5rem;
    margin-left: 1rem;
}

input {
    margin-left: 1rem;
    margin-right: 1rem;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

button {
    background-color: gray;
    color: lightgreen;
    font-size: 1rem;
}